*{
  box-sizing: border-box;
}
body {
   padding-top: 76px;
 }
 .navbar-header{
   padding-bottom: 25px;
 }
 .nav{
   height: 100%;
 }
.navbar-brand{
  padding: 17px;
}
.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #F08080;
}
main .container{
  background-image: url(../assets/images/violencia.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
  height: 34em;
}
.content-information-main{
  padding: 1em;
  background-color: #F08080;
  border: none;
  outline: none;
  text-align:left;
  margin-top: 12em;
  color: white;
}
.content-information-main img{
  display: inline;
  width: 5em;
}
.content-information-main button{
  display: block;
  margin-top: 1em;
  font-weight: bolder;
  border: none;
  text-align: justify;
}
.desktop-main{
  display: none;
}
.information{
  background-color: #F08080;
  color: white;
  padding: 2em;
  text-align: justify;
}
.information img{
  width: 100%;
  height: auto;
}
article{
  padding: 0 1.5em 0 0.5em;
  font-weight:lighter;
}
.articulo2, .articulo4{
  background-color: #F08080;
}
.articulo1, .articulo2, .articulo3, .articulo4, .articulo5{
  padding-top: 1.5em;
  padding-bottom: 1em;
}
article img{
  width: 100%;
  padding-bottom: 1em;
}
.blog h2{
background-color:
#F08080;
padding-left: 1em;
margin-bottom: 0;
margin-top: 0;
padding-top: 0.5em;
padding-bottom: 0.5em;
font-family: 'Pacifico', cursive;
color: white;
}
/*modal iniciar_sesion*/
.sesion{
  background-color:
#F08080;
}
.navbar a{
  cursor: pointer;
}
.user{
  text-align: center;
}
.user-password{
  background-color: #F5F5F5;
  margin: 0 3em 1em 3em;
  border-radius: 10px;
  padding-top: 1em
}
.user img{
  width: 15em;
  height: auto;
  padding: 2em;
}
.input-group{
  padding: 0.5em 1em 0.5em 1em;
}
.loging{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.clickhere{
  text-decoration: none;
  color: #B1355E;
}
.forgot_password{
  padding-left: 1em;
  padding-bottom: 1em;
}
.text_aviso_brindo_ayuda{
  padding: 1em;
  text-align: justify;
}
.formulario_profesional{
  padding: 1em;
}
.write_motivation{
  padding: 2em;
}
.user_photo{
  width: 40%;
}
.ingresar_foto{
  text-align: center;
}
aside .container-fluid {
  background-image: url(../assets/images/ayuda.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
  height: 20em;
}
aside .container-fluid{
  padding: 1em 2.5em 0 2.5em;
  background:rgba(0,0,0,0.5);
  color: white;
  margin-left: 0;
  height: 100%;
  width: 100%;
}
.brinda_ayuda p{
    text-align: justify;
}
aside img{
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}
.brinda_ayuda{
  padding-top: 2em;
  padding-bottom: 2em;
}
.brinda_ayuda span{
  font-size: 17px;
  font-family:sans-serif;
  font-weight:bold;
  padding-bottom: 2em;
}
footer{
  background-color: #F08080;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
